In [161]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [162]:
df = pd.read_csv("train_v9rqX0R.csv")

In [163]:
df.head(5)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [164]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [165]:
df['Outlet_Size'].fillna(df['Outlet_Size'].mode()[0], inplace=True)

In [166]:
df.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                     0
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [167]:
df['Item_Weight'] = df['Item_Weight'].fillna(df['Item_Weight'].mean())

In [168]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                8523 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                8523 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [169]:
df.head(10)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300000,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920000,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500000,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200000,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,Medium,Tier 3,Grocery Store,732.3800
4,NCD19,8.930000,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
5,FDP36,10.395000,Regular,0.000000,Baking Goods,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2,556.6088
6,FDO10,13.650000,Regular,0.012741,Snack Foods,57.6588,OUT013,1987,High,Tier 3,Supermarket Type1,343.5528
7,FDP10,12.857645,Low Fat,0.127470,Snack Foods,107.7622,OUT027,1985,Medium,Tier 3,Supermarket Type3,4022.7636
8,FDH17,16.200000,Regular,0.016687,Frozen Foods,96.9726,OUT045,2002,Medium,Tier 2,Supermarket Type1,1076.5986
9,FDU28,19.200000,Regular,0.094450,Frozen Foods,187.8214,OUT017,2007,Medium,Tier 2,Supermarket Type1,4710.5350

In [170]:
Categories_Item_Fat_Content = list(df['Item_Fat_Content'].value_counts().index)
Categories_Item_Fat_Content

['Low Fat', 'Regular', 'LF', 'reg', 'low fat']

In [171]:
Categories_Item_Type = list(df['Item_Type'].value_counts().index)
Categories_Item_Type

['Fruits and Vegetables',
 'Snack Foods',
 'Household',
 'Frozen Foods',
 'Dairy',
 'Canned',
 'Baking Goods',
 'Health and Hygiene',
 'Soft Drinks',
 'Meat',
 'Breads',
 'Hard Drinks',
 'Others',
 'Starchy Foods',
 'Breakfast',
 'Seafood']

In [172]:
Categories_Outlet_Size = list(df['Outlet_Size'].value_counts().index)
Categories_Outlet_Size

['Medium', 'Small', 'High']

In [173]:
Categories_Outlet_Size = list(df['Outlet_Type'].value_counts().index)
Categories_Outlet_Size

['Supermarket Type1',
 'Grocery Store',
 'Supermarket Type3',
 'Supermarket Type2']

In [174]:
categorical_cols=df.select_dtypes(include=['object']).columns
categorical_cols

Index(['Item_Identifier', 'Item_Fat_Content', 'Item_Type', 'Outlet_Identifier',
       'Outlet_Size', 'Outlet_Location_Type', 'Outlet_Type'],
      dtype='object')

In [175]:
df['Item_Fat_Content'] = df['Item_Fat_Content'].replace({'LF':'Low Fat', 'reg':'Regular', 'low fat':'Low Fat'})
df['Item_Fat_Content'].value_counts()

Low Fat    5517
Regular    3006
Name: Item_Fat_Content, dtype: int64

In [176]:
df['New_Item_Type'] = df['Item_Identifier'].apply(lambda x: x[:2])
df['New_Item_Type']

0       FD
1       DR
2       FD
3       FD
4       NC
        ..
8518    FD
8519    FD
8520    NC
8521    FD
8522    DR
Name: New_Item_Type, Length: 8523, dtype: object

In [177]:
df['New_Item_Type'] = df['New_Item_Type'].map({'FD':'Food', 'NC':'Non-Consumable', 'DR':'Drinks'})
df['New_Item_Type'].value_counts()

Food              6125
Non-Consumable    1599
Drinks             799
Name: New_Item_Type, dtype: int64

In [178]:
df.head(10)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,New_Item_Type
0,FDA15,9.300000,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380,Food
1,DRC01,5.920000,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228,Drinks
2,FDN15,17.500000,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700,Food
3,FDX07,19.200000,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,Medium,Tier 3,Grocery Store,732.3800,Food
4,NCD19,8.930000,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052,Non-Consumable
5,FDP36,10.395000,Regular,0.000000,Baking Goods,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2,556.6088,Food
6,FDO10,13.650000,Regular,0.012741,Snack Foods,57.6588,OUT013,1987,High,Tier 3,Supermarket Type1,343.5528,Food
7,FDP10,12.857645,Low Fat,0.127470,Snack Foods,107.7622,OUT027,1985,Medium,Tier 3,Supermarket Type3,4022.7636,Food
8,FDH17,16.200000,Regular,0.016687,Frozen Foods,96.9726,OUT045,2002,Medium,Tier 2,Supermarket Type1,1076.5986,Food
9,FDU28,19.200000,Regular,0.094450,Frozen Foods,187.8214,OUT017,2007,Medium,Tier 2,Supermarket Type1,4710.5350,Food

In [179]:
df=pd.get_dummies(df, columns=['Item_Fat_Content','Item_Type','Outlet_Size','Outlet_Location_Type', 'Outlet_Type','New_Item_Type'])
df.head(10)

,Item_Identifier,Item_Weight,Item_Visibility,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Item_Outlet_Sales,Item_Fat_Content_Low Fat,Item_Fat_Content_Regular,Item_Type_Baking Goods,...,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3,New_Item_Type_Drinks,New_Item_Type_Food,New_Item_Type_Non-Consumable
0,FDA15,9.300000,0.016047,249.8092,OUT049,1999,3735.1380,1,0,0,...,1,0,0,0,1,0,0,0,1,0
1,DRC01,5.920000,0.019278,48.2692,OUT018,2009,443.4228,0,1,0,...,0,0,1,0,0,1,0,1,0,0
2,FDN15,17.500000,0.016760,141.6180,OUT049,1999,2097.2700,1,0,0,...,1,0,0,0,1,0,0,0,1,0
3,FDX07,19.200000,0.000000,182.0950,OUT010,1998,732.3800,0,1,0,...,0,0,1,1,0,0,0,0,1,0
4,NCD19,8.930000,0.000000,53.8614,OUT013,1987,994.7052,1,0,0,...,0,0,1,0,1,0,0,0,0,1
5,FDP36,10.395000,0.000000,51.4008,OUT018,2009,556.6088,0,1,1,...,0,0,1,0,0,1,0,0,1,0
6,FDO10,13.650000,0.012741,57.6588,OUT013,1987,343.5528,0,1,0,...,0,0,1,0,1,0,0,0,1,0
7,FDP10,12.857645,0.127470,107.7622,OUT027,1985,4022.7636,1,0,0,...,0,0,1,0,0,0,1,0,1,0
8,FDH17,16.200000,0.016687,96.9726,OUT045,2002,1076.5986,0,1,0,...,0,1,0,0,1,0,0,0,1,0
9,FDU28,19.200000,0.094450,187.8214,OUT017,2007,4710.5350,0,1,0,...,0,1,0,0,1,0,0,0,1,0

In [180]:
X = df.drop(columns=['Item_Identifier', 'Outlet_Identifier', 'Item_Outlet_Sales'])
y = df['Item_Outlet_Sales']

In [181]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
model = RandomForestRegressor()
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=42)
model.fit(X,y)

RandomForestRegressor()

In [182]:
model.score(X_train,y_train)

0.9377863209909213

In [183]:
pred=model.predict(X_test)
ActualvsPredicted=pd.DataFrame({'Actual':y_test,'Predicted':pred})
ActualvsPredicted

         Actual    Predicted
7503  1743.0644  1377.154036
2957   356.8688   555.250568
7031   377.5086   534.544188
1084  5778.4782  5361.953720
856   2356.9320  2200.269260
...         ...          ...
7205  3004.0896  2486.103858
3257   890.8404  1572.945842
6346   629.1810   674.648482
6318   253.0040   376.376740
6339   976.7286  1135.801536

[1705 rows x 2 columns]

In [184]:
model.score(X_test,y_test)

0.9377388249099893

# Testing

In [209]:
df1 = pd.read_csv("test_AbJTz2l.csv")

In [210]:
df1_identifiers=pd.DataFrame(df1['Item_Identifier'])
df1_identifiers['Outlet_Identifier']=df1['Outlet_Identifier']

In [211]:
df1.isnull().sum()

Item_Identifier                 0
Item_Weight                   976
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  1606
Outlet_Location_Type            0
Outlet_Type                     0
dtype: int64

In [212]:
df1['Outlet_Size'].fillna(df1['Outlet_Size'].mode()[0], inplace=True)

In [213]:
df1['Item_Weight'] = df1['Item_Weight'].fillna(df1['Item_Weight'].mean())

In [214]:
df1.describe().T

,count,mean,std,min,25%,50%,75%,max
Item_Weight,5681.0,12.695633,4.245189,4.555,9.195000,12.695633,15.850000,21.350000
Item_Visibility,5681.0,0.065684,0.051252,0.000,0.027047,0.054154,0.093463,0.323637
Item_MRP,5681.0,141.023273,61.809091,31.990,94.412000,141.415400,186.026600,266.588400
Outlet_Establishment_Year,5681.0,1997.828903,8.372256,1985.000,1987.000000,1999.000000,2004.000000,2009.000000

In [215]:
df1.head(10)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDW58,20.750000,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1
1,FDW14,8.300000,reg,0.038428,Dairy,87.3198,OUT017,2007,Medium,Tier 2,Supermarket Type1
2,NCN55,14.600000,Low Fat,0.099575,Others,241.7538,OUT010,1998,Medium,Tier 3,Grocery Store
3,FDQ58,7.315000,Low Fat,0.015388,Snack Foods,155.0340,OUT017,2007,Medium,Tier 2,Supermarket Type1
4,FDY38,12.695633,Regular,0.118599,Dairy,234.2300,OUT027,1985,Medium,Tier 3,Supermarket Type3
5,FDH56,9.800000,Regular,0.063817,Fruits and Vegetables,117.1492,OUT046,1997,Small,Tier 1,Supermarket Type1
6,FDL48,19.350000,Regular,0.082602,Baking Goods,50.1034,OUT018,2009,Medium,Tier 3,Supermarket Type2
7,FDC48,12.695633,Low Fat,0.015782,Baking Goods,81.0592,OUT027,1985,Medium,Tier 3,Supermarket Type3
8,FDN33,6.305000,Regular,0.123365,Snack Foods,95.7436,OUT045,2002,Medium,Tier 2,Supermarket Type1
9,FDA36,5.985000,Low Fat,0.005698,Baking Goods,186.8924,OUT017,2007,Medium,Tier 2,Supermarket Type1

In [216]:
Categories_Item_Fat_Content = list(df1['Item_Fat_Content'].value_counts().index)
Categories_Item_Fat_Content

['Low Fat', 'Regular', 'LF', 'reg', 'low fat']

In [217]:
Categories_Item_Type = list(df1['Item_Type'].value_counts().index)
Categories_Item_Type

['Snack Foods',
 'Fruits and Vegetables',
 'Household',
 'Frozen Foods',
 'Dairy',
 'Baking Goods',
 'Canned',
 'Health and Hygiene',
 'Meat',
 'Soft Drinks',
 'Breads',
 'Hard Drinks',
 'Starchy Foods',
 'Others',
 'Breakfast',
 'Seafood']

In [218]:
Categories_Outlet_Size = list(df1['Outlet_Type'].value_counts().index)
Categories_Outlet_Size

['Supermarket Type1',
 'Grocery Store',
 'Supermarket Type3',
 'Supermarket Type2']

In [219]:
Categories_Outlet_Size = list(df1['Outlet_Size'].value_counts().index)
Categories_Outlet_Size

['Medium', 'Small', 'High']

In [220]:
df1['Item_Fat_Content'] = df1['Item_Fat_Content'].replace({'LF':'Low Fat', 'reg':'Regular', 'low fat':'Low Fat'})
df1['Item_Fat_Content'].value_counts()

Low Fat    3668
Regular    2013
Name: Item_Fat_Content, dtype: int64

In [221]:
df1['New_Item_Type'] = df1['Item_Identifier'].apply(lambda x: x[:2])
df1['New_Item_Type']

0       FD
1       FD
2       NC
3       FD
4       FD
        ..
5676    FD
5677    FD
5678    NC
5679    FD
5680    FD
Name: New_Item_Type, Length: 5681, dtype: object

In [222]:
df1['New_Item_Type'] = df1['New_Item_Type'].map({'FD':'Food', 'NC':'Non-Consumable', 'DR':'Drinks'})
df1['New_Item_Type'].value_counts()

Food              4076
Non-Consumable    1087
Drinks             518
Name: New_Item_Type, dtype: int64

In [223]:
df1=pd.get_dummies(df1, columns=['Item_Fat_Content','Item_Type','Outlet_Size','Outlet_Location_Type', 'Outlet_Type','New_Item_Type'])
df1.head(10)

,Item_Identifier,Item_Weight,Item_Visibility,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Item_Fat_Content_Low Fat,Item_Fat_Content_Regular,Item_Type_Baking Goods,Item_Type_Breads,...,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3,New_Item_Type_Drinks,New_Item_Type_Food,New_Item_Type_Non-Consumable
0,FDW58,20.750000,0.007565,107.8622,OUT049,1999,1,0,0,0,...,1,0,0,0,1,0,0,0,1,0
1,FDW14,8.300000,0.038428,87.3198,OUT017,2007,0,1,0,0,...,0,1,0,0,1,0,0,0,1,0
2,NCN55,14.600000,0.099575,241.7538,OUT010,1998,1,0,0,0,...,0,0,1,1,0,0,0,0,0,1
3,FDQ58,7.315000,0.015388,155.0340,OUT017,2007,1,0,0,0,...,0,1,0,0,1,0,0,0,1,0
4,FDY38,12.695633,0.118599,234.2300,OUT027,1985,0,1,0,0,...,0,0,1,0,0,0,1,0,1,0
5,FDH56,9.800000,0.063817,117.1492,OUT046,1997,0,1,0,0,...,1,0,0,0,1,0,0,0,1,0
6,FDL48,19.350000,0.082602,50.1034,OUT018,2009,0,1,1,0,...,0,0,1,0,0,1,0,0,1,0
7,FDC48,12.695633,0.015782,81.0592,OUT027,1985,1,0,1,0,...,0,0,1,0,0,0,1,0,1,0
8,FDN33,6.305000,0.123365,95.7436,OUT045,2002,0,1,0,0,...,0,1,0,0,1,0,0,0,1,0
9,FDA36,5.985000,0.005698,186.8924,OUT017,2007,1,0,1,0,...,0,1,0,0,1,0,0,0,1,0

In [224]:
df1.isnull().sum()

Item_Identifier                    0
Item_Weight                        0
Item_Visibility                    0
Item_MRP                           0
Outlet_Identifier                  0
Outlet_Establishment_Year          0
Item_Fat_Content_Low Fat           0
Item_Fat_Content_Regular           0
Item_Type_Baking Goods             0
Item_Type_Breads                   0
Item_Type_Breakfast                0
Item_Type_Canned                   0
Item_Type_Dairy                    0
Item_Type_Frozen Foods             0
Item_Type_Fruits and Vegetables    0
Item_Type_Hard Drinks              0
Item_Type_Health and Hygiene       0
Item_Type_Household                0
Item_Type_Meat                     0
Item_Type_Others                   0
Item_Type_Seafood                  0
Item_Type_Snack Foods              0
Item_Type_Soft Drinks              0
Item_Type_Starchy Foods            0
Outlet_Size_High                   0
Outlet_Size_Medium                 0
Outlet_Size_Small                  0
Outlet_Location_Type_Tier 1        0
Outlet_Location_Type_Tier 2        0
Outlet_Location_Type_Tier 3        0
Outlet_Type_Grocery Store          0
Outlet_Type_Supermarket Type1      0
Outlet_Type_Supermarket Type2      0
Outlet_Type_Supermarket Type3      0
New_Item_Type_Drinks               0
New_Item_Type_Food                 0
New_Item_Type_Non-Consumable       0
dtype: int64

In [225]:
X1 = df1.drop(columns=['Item_Identifier', 'Outlet_Identifier'])

In [226]:
y_preds_test=model.predict(X1)

In [229]:
df1_submission=df1_identifiers
df1_submission['Item_Outlet_Sales']=y_preds_rfr
df1_submission.head()

  Item_Identifier Outlet_Identifier  Item_Outlet_Sales
0           FDW58            OUT049        1703.049820
1           FDW14            OUT017        1300.120976
2           NCN55            OUT010         641.664750
3           FDQ58            OUT017        1905.972344
4           FDY38            OUT027        5936.638990

In [232]:
df1_submission.to_csv('Random_Forest_Regression.csv',index=False)